de: kdePlasmaX

bindings:
######## Languages
- key: Alt_L
  release: true
  cmd: xkb-switch -s us

- key: Alt_R
  release: true
  cmd: xkb-switch -s ru

######## Backspace, delete, enter, escape
- key: CapsLock
  release: true
  combination: Backspace
- key: Alt_R + CapsLock
  release: true
  cmd: 'xdotool keyup 108; xdotool key Ctrl+22; xdotool keydown 108'
  #combination: Ctrl + Backspace

- key: Shift_L
  release: true
  combination: Delete
- key: Alt_R + Shift_L
  release: true
  cmd: 'xdotool keyup 108; xdotool key Ctrl+119; xdotool keydown 108'
  #combination: Ctrl + Delete

- key: Shift_R
  release: true
  combination: Enter

- key: Ctrl_R
  release: true
  cmd: 'xdotool key Escape'

########### Macroses
####### SELECTION BY WHOLE LINE
- key: Alt_L + a + j
  cmd: 'xdotool keyup 64; xdotool key --delay 8 --clearmodifiers 115 Shift+110; xdotool keydown 64'
  #  actions:
  #    - action: combination
  #      combination: End
  #    - action: combination
  #      combination: Shift + Home
- key: Alt_L + a + l
  cmd: 'xdotool keyup 64; xdotool key --delay 8 --clearmodifiers 115 Shift+111 Shift+110; xdotool keydown 64'
  #  actions:
  #    - action: combination
  #      combination: End
  #    - action: combination
  #      combination: Shift + Up
  #    - action: combination
  #      combination: Shift + Home
- key: Alt_L + a + k
  cmd: 'xdotool keyup 64; xdotool key --delay 8 --clearmodifiers 110 Shift+116 Shift+115; xdotool keydown 64'
  #  actions:
  #    - action: combination
  #      combination: Home
  #    - action: combination
  #      combination: Shift + Down
  #    - action: combination
  #      combination: Shift + End
- key: Alt_L + a + Semicolon
  cmd: 'xdotool keyup 64; xdotool key --delay 8 --clearmodifiers 110 Shift+115; xdotool keydown 64'
  #  actions:
  #    - action: combination
  #      combination: Home
  #    - action: combination
  #      combination: Shift + End

####### MOVE LINE OR SELECTION
- key: Space + a + l
  cmd: xdotool keyup 65; xdotool key Ctrl+Shift+111; xdotool keydown 65
- key: Space + a + k
  cmd: xdotool keyup 65; xdotool key Ctrl+Shift+116; xdotool keydown 65

####### Enter-like
# Make new line and move cursor to it
- key: Shift_L + Shift_R
  release: true
  actions:
    - action: combination
      combination: End
    - action: combination
      combination: Enter
# Make new line and return back
- key: Alt_L + Shift_R
  release: true
  cmd: 'xdotool keyup 64; xdotool key --delay 8 --clearmodifiers 36 Ctrl+113; xdotool keydown 64'
#  actions:
#    - action: combination
#      combination: Enter
#    - action: combination
#      combination: Ctrl + Left
- key: Space + Shift_R
  release: true
  cmd: 'xdotool keyup 65; xdotool key --delay 8 --clearmodifiers 110 36; xdotool keydown 65'
- key: Alt_L + a + Shift_R
  release: true
  cmd: 'xdotool keyup 65; xdotool key --delay 8 --clearmodifiers 110 36 111; xdotool keydown 65'





####### Removing
# Remove from cursor to the beginning of the line
- key: Ctrl_R + CapsLock
  release: true
  cmd: 'xdotool key --delay 8 --clearmodifiers Shift+110 22'
# Remove content of the line
- key: Shift_R + CapsLock
  release: true
  cmd: 'xdotool key --delay 8 --clearmodifiers 115 Shift+110 22'
#  actions:
#    - action: combination
#      combination: End
#    - action: combination
#      combination: Shift + Home
#    - action: combination
#      combination: Backspace

# Remove from cursor to the end of the line
- key: Ctrl_R + Shift_L
  release: true
  cmd: 'xdotool key --delay 8 --clearmodifiers Shift+115 119'
# Remove whole line
- key: Shift_R + Shift_L
  release: true
  cmd: 'xdotool key --delay 8 115 Shift+110 119 119'
#  actions:
#    - action: combination
#      combination: End
#    - action: combination
#      combination: Shift + Home
#    - action: combination
#      combination: Backspace
#    - action: combination
#      combination: Delete





# Cut content of line with cutting to the buffer
- key: Alt_R + Shift + x
  release: true
  cmd: 'xdotool keyup 108; xdotool key --clearmodifiers 115 Shift+110 Ctrl+53; xdotool keydown 108'
#  actions:
#    - action: combination
#      combination: End
#    - action: combination
#      combination: Shift + Home
#    - action: combination
#      combination: Ctrl + x
# Cut line with cutting to the buffer
- key: Ctrl_R + Shift + x
  release: true
  cmd: 'xdotool key --clearmodifiers 115 Shift+110 Ctrl+53 119'
#  actions:
#    - action: combination
#      combination: End
#    - action: combination
#      combination: Shift + Home
#    - action: combination
#      combination: Ctrl + x
#    - action: combination
#      combination: Delete

# Copy whole line to the buffer
- key: Alt_R + Shift + c
  release: true
  cmd: 'xdotool keyup 108; xdotool key --clearmodifiers 115 Shift+110 Ctrl+54 113; xdotool keydown 108'

# Paste and move to the beginning of the line
- key: Alt_R + Shift + v
  release: true
  cmd: 'xdotool keyup 108; xdotool key --clearmodifiers Ctrl+55 110; xdotool keydown 108'

## Paste and create a new line
#- key: Alt_R + Shift + v
#  release: true
#  cmd: 'xdotool keyup 108; xdotool key --clearmodifiers Ctrl+55 110; xdotool keydown 108'

# Duplicate the selection at new line
- key: Alt_R + Shift + d
  release: true
  cmd: 'xdotool keyup 108; xdotool key --clearmodifiers Ctrl+54 113 36 111 Ctrl+55; xdotool keydown 108'
#  actions:
#    - action: combination
#      combination: Ctrl + c
#    - action: combination
#      combination: Left
#    - action: combination
#      combination: Enter
#    - action: combination
#      combination: Up
#    - action: combination
#      combination: Ctrl + v


######## ARROWS
- key: Space + j
  #combination: Left
  cmd: 'xdotool key --clearmodifiers 113'
- key: Space + l
  #combination: Up
  cmd: 'xdotool key --clearmodifiers 111'
- key: Space + k
  #combination: Down
  cmd: 'xdotool key --clearmodifiers 116'
- key: Space + Semicolon
  #combination: Right
  cmd: 'xdotool key --clearmodifiers 114'
######## FORCED ARROWS
- key: Space + Shift + j
  #combination: Ctrl + Left
  cmd: 'xdotool keyup 65; xdotool key --clearmodifiers Ctrl+113; xdotool keydown 65'
- key: Space + Shift + l
  cmd: 'xdotool key --delay 8 --clearmodifiers 111 111 111'
- key: Space + Shift + k
  cmd: 'xdotool key --delay 8 --clearmodifiers 116 116 116'
#cmd: 'xdotool keyup 66; xdotool key --clearmodifiers 116 116 116; xdotool keydown 66'
- key: Space + Shift + Semicolon
  #combination: Ctrl + Right
  cmd: 'xdotool keyup 65; xdotool key --clearmodifiers Ctrl+114; xdotool keydown 65'

######## HOME, END
- key: Space + u
  #combination: Home
  cmd: 'xdotool key --clearmodifiers 110'
- key: Space + i
  #combination: End
  cmd: 'xdotool key --clearmodifiers 115'
######## FORCED HOME, END (start and end of page)
- key: Space + Shift + u
  #combination: Ctrl + Home
  cmd: 'xdotool key --clearmodifiers Ctrl+110'
- key: Space + Shift + i
  #combination: Ctrl + End
  cmd: 'xdotool key --clearmodifiers Ctrl+115'

######### MOVE SCREEN by 7 LINES
- key: Space + h
  cmd: 'xdotool keyup 65; xdotool click  4; xdotool keydown 65'
- key: Space + n
  cmd: 'xdotool keyup 65; xdotool click 5; xdotool keydown 65'

######## PAGE UP, PAGE DOWNh
- key: Space + Shift + h
  #combination: PgUp
  cmd: 'xdotool key --clearmodifiers 112'
- key: Space + Shift + n
  #combination: PgDown
  cmd: 'xdotool key --clearmodifiers 117'

######### SELECT
- key: Alt_L + j
  cmd: 'xdotool keyup 64; xdotool key Shift+113; xdotool keydown 64'
  #combination: Shift + Left
#  actions:
#    - action: combination
#      combination: Shift + Left
- key: Alt_L + l
  cmd: 'xdotool keyup 64; xdotool key Shift+111; xdotool keydown 64'
  #combination: Shift +QQ Up
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Up
- key: Alt_L + k
  cmd: 'xdotool keyup 64; xdotool key Shift+116; xdotool keydown 64'
  #combination: Shift + Down
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Down
- key: Alt_L + Semicolon
  cmd: 'xdotool keyup 64; xdotool key Shift+114; xdotool keydown 64'
  #combination: Shift + Right
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Right
######### FORCED SELECT
- key: Alt_L + Shift_L + j
  cmd: 'xdotool keyup 64; xdotool key Ctrl+Shift+113; xdotool keydown 64'
  #combinadtion: Shift + Ctrl + Left
  #actions:
  #  - action: combination
  #    clearCaps: true
  #    combination: Shift + Ctrl + Left
- key: Alt_L + Shift_L + l
  cmd: 'xdotool keyup 64; xdotool key --delay 8 Shift+111 Shift+111 Shift+111; xdotool keydown 64'
- key: Alt_L + Shift_L + k
  cmd: 'xdotool keyup 64; xdotool key --delay 8 Shift+116 Shift+116 Shift+116; xdotool keydown 64'
- key: Alt_L + Shift_L + Semicolon
  cmd: 'xdotool keyup 64; xdotool key Ctrl+Shift+114; xdotool keydown 64'
  #combination: Shift + Ctrl + Right
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Ctrl + Right
######### SELECT HOME, END
- key: Alt_L + u
  cmd: 'xdotool keyup 64; xdotool key Shift+110; xdotool keydown 64'
  #combination: Shift + Home
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Home
- key: Alt_L + i
  cmd: 'xdotool keyup 64; xdotool key Shift+115; xdotool keydown 64'
  #combination: Shift + End
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + End
######### FORCED SELECT HOME, END (to start/end of whole page)
- key: Alt_L + Shift_L + u
  cmd: 'xdotool keyup 64; xdotool key Ctrl+Shift+110; xdotool keydown 64'
#  #combination: Shift + Ctrl + Home
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Ctrl + Home
- key: Alt_L + Shift_L + i
  cmd: 'xdotool keyup 64; xdotool key Ctrl+Shift+115; xdotool keydown 64'
#  #combination: Shift + Ctrl + End
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Ctrl + End
######### SELECT PAGE UP, PAGE DOWN
- key: Alt_L + h
  cmd: 'xdotool keyup 64; xdotool key Shift+112; xdotool keydown 64'
  #combination: Shift + PgUp
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + PgUp
- key: Alt_L + n
  #combination: Shift + PgDown
  cmd: 'xdotool keyup 64; xdotool key Shift+117; xdotool keydown 64'
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + PgDown


######## SYMBOLS
- key: Space + Slash
  #  cmd: "xdotool keyup 66; xdotool type --clearmodifiers $'\u0021'; xdotool keydown 66"
  cmd: xdotool type '?'
- key: Alt_L + Slash
#  cmd: "xdotool keyup 66; xdotool type --clearmodifiers $'\u0021'; xdotool keydown 66"
  cmd: xdotool keyup 64; xdotool type '!'; xdotool keydown 64

- key: Space + ,
  cmd: xdotool keyup 65; xdotool type "<"; xdotool keydown 65
- key: Space + .
  cmd: xdotool keyup 65; xdotool type ">"; xdotool keydown 65
- key: Alt_L + ,
  cmd: xdotool keyup 64; xdotool type "("; xdotool keydown 64
- key: Alt_L + .
  cmd: xdotool keyup 64; xdotool type ")"; xdotool keydown 64

- key: Space + q
  cmd: xdotool keyup 65; xdotool type "-"; xdotool keydown 65
- key: Space + a
  release: true
  cmd: xdotool keyup 65; xdotool type "0"; xdotool keydown 65

######### DE
## konsole
#- key: CapsLock + t
#  cmd: konsole
## yakuake
#- key: CapsLock + y
#  deShortcut: 'yakuake: toggle-window-state'
#
#- key: CapsLock + q
#  deShortcut: 'kwin: Window Close'
#- key: CapsLock + w
#  deShortcut: 'kwin: Window Maximize'
#- key: CapsLock + Alt + w
#  deShortcut: 'kwin: Window Maximize Vertical'
#- key: CapsLock + Shift + w
#  deShortcut: 'kwin: Window Maximize Horizontal'
#- key: CapsLock + e
#  deShortcut: 'kwin: Window Minimize'
#
#- key: CapsLock + g
#  deShortcut: 'kwin: Switch to Next Desktop'
#- key: CapsLock + r
#  deShortcut: 'kwin: Window to Next Screen'
#- key: CapsLock + v
#  deShortcut: 'kwin: Window to Next Desktop'
#
#- key: CapsLock + 7
#  deShortcut: 'kmix: mute'
#
#- key: CapsLock + 6
#  deShortcut: 'kmix: mic_mute'

# Walk Through Windows
# Walk Through Windows of Current Application

  #- key: k
#  mod:
#    - CapsLock
#  cmd: xdotool key --clearmodifiers 111
#
#- key: l
#  mod:
#    - CapsLock
#  cmd: xdotool key --clearmodifiers 116
#
#- key: Apostrophe
#  mod:
#    - CapsLock
#  cmd: xdotool key --clearmodifiers 114

  #- key: CapsLock
  #  mod:
  #    - Alt_R
  #  cmd: xdotool key --clearmodifiers 119

#- key: Alt + CapsLock
#  deShortcut: 'kwin: Walk Through Windows'
#  #cmd: qdbus org.kde.kglobalaccel /component/kwin invokeShortcut 'Walk Through Windows'

#- key: Alt_L + Shift_L
#  cmd: qdbus org.kde.kglobalaccel /component/kwin invokeShortcut 'Walk Through Windows of Current Application'
