de: kdePlasmaX

bindings:

#- key: Space
#  release: true
#  # TODO: может обрабатывать релиз без предварительного press возможно изза этого проблема
#  # TODO: может сделать тогда clear space
#  #combination: Shift + Space
#  cmd: xdotool type " "
#
## TODO: doesn't work
#- key: CapsLock + Space
#  release: true
#  combination: Shift + Minus
#  #cmd: xdotool key --clearmodifiers shift+20

######## Languages
- key: Alt_L
  release: true
  cmd: xkb-switch -s us

- key: Alt_R
  release: true
  cmd: xkb-switch -s ru

######## Backspace, delete, enter
- key: CapsLock
  release: true
  combination: Backspace
- key: Alt + CapsLock
  release: true
  combination: Ctrl + Backspace

- key: Shift_L
  release: true
  combination: Delete
- key: Alt + Shift_L
  release: true
  combination: Ctrl + Delete

- key: Shift_R
  release: true
  combination: Enter

######## ARROWS
- key: CapsLock + j
  #release: true
  actions:
    - action: combination
      clearCaps: true
      combination: Left
  #cmd: xdotool key --clearmodifiers 111
  #cmd: bash -e "sleep 1; xdotool key --clearmodifiers 83"
- key: CapsLock + k
  actions:
    - action: combination
      clearCaps: true
      combination: Up
- key: CapsLock + l
  actions:
    - action: combination
      clearCaps: true
      combination: Down
- key: CapsLock + Semicolon
  actions:
    - action: combination
      clearCaps: true
      combination: Right
######## FORCED ARROWS
- key: CapsLock + f + j
  actions:
    - action: combination
      clearCaps: true
      combination: Ctrl + Left
- key: CapsLock + f + k
  actions:
    - action: cmd
      cmd: 'xdotool keyup --clearmodifiers 66; xdotool key --clearmodifiers 111; xdotool key --clearmodifiers 111; xdotool key --clearmodifiers 111; xdotool keydown --clearmodifiers 66'
#    - action: cmd
#      cmd: 'xdotool keyup --clearmodifiers 66'
#    - action: combination
#      combination: Up
#    - action: combination
#      combination: Up
#    - action: combination
#      combination: Up
#    - action: cmd
#      cmd: 'xdotool keydown --clearmodifiers 66'
- key: CapsLock + f + l
  actions:
    - action: cmd
      cmd: 'xdotool keyup --clearmodifiers 66; xdotool key --clearmodifiers 116; xdotool key --clearmodifiers 116; xdotool key --clearmodifiers 116; xdotool keydown --clearmodifiers 66'
#    - action: cmd
#      cmd: 'xdotool keyup --clearmodifiers 66'
#    - action: combination
#      combination: Down
#    - action: combination
#      combination: Down
#    - action: combination
#      combination: Down
#    - action: cmd
#      cmd: 'xdotool keydown --clearmodifiers 66'
- key: CapsLock + f + Semicolon
  actions:
    - action: combination
      clearCaps: true
      combination: Ctrl + Right


- key: CapsLock + u
  actions:
    - action: combination
      combination: Home
- key: CapsLock + i
  actions:
    - action: combination
      combination: End
- key: CapsLock + h
  actions:
    - action: combination
      combination: PgUp
- key: CapsLock + n
  actions:
    - action: combination
      combination: PgDown

######## Numbers
- key: Space + a
  cmd: xdotool type --clearmodifiers "0"
- key: Space + x
  cmd: xdotool type --clearmodifiers "1"
- key: Space + c
  cmd: xdotool type --clearmodifiers "2"
- key: Space + v
  cmd: xdotool type --clearmodifiers "3"
- key: Space + s
  cmd: xdotool type --clearmodifiers "4"
- key: Space + d
  cmd: xdotool type --clearmodifiers "5"
- key: Space + f
  release: true
  cmd: xdotool type --clearmodifiers "6"
- key: Space + w
  cmd: xdotool type --clearmodifiers "7"
- key: Space + e
  cmd: xdotool type --clearmodifiers "8"
- key: Space + r
  cmd: xdotool type --clearmodifiers "9"
- key: Space + g
  cmd: xdotool type --clearmodifiers "+"
- key: Space + t
  cmd: xdotool type --clearmodifiers "-"
- key: Space + q
  cmd: xdotool type --clearmodifiers "/"
- key: Space + z
  cmd: xdotool type --clearmodifiers "*"
- key: Space + b
  cmd: xdotool type --clearmodifiers "="

######## Symbols
## key m
#- key: CapsLock + m
#  cmd: xdotool type --clearmodifiers "/"
## key o
#- key: CapsLock + o
#  cmd: xdotool type --clearmodifiers ":"
## key p
#- key: CapsLock + p
#  cmd: xdotool type --clearmodifiers ";"
## key [
#  # level1 - |
#  # +shift - &
#- key: CapsLock + [
#  cmd: xdotool type --clearmodifiers "#"
## key ]
#  # level1 - \
#  # +shift - ~
## key '
#  # level1 - '
#  # +shift - `
## TODO: doesn't work
##- key: Space + Apostrophe
##  cmd: xdotool type --clearmodifiers '"'
#
## TODO: не получится поставить точку
##- key: Space + Slash
##  cmd: xdotool type --clearmodifiers "!"
#
#
##- key: Space + BackSlash
##  cmd: xdotool type --clearmodifiers "/"
#
#- key: CapsLock + ,
#  cmd: xdotool type --clearmodifiers "<"
#- key: CapsLock + .
#  cmd: xdotool type --clearmodifiers ">"
## TODO: doesn't work
##- key: CapsLock + ,
##  clearCaps: true
##  cmd: xdotool type --clearmodifiers "("
### TODO: doesn't work
##- key: CapsLock + .
##  clearCaps: true
##  cmd: xdotool type --clearmodifiers ")"

######## DE
# konsole
- key: CapsLock + t
  cmd: konsole
# yakuake
- key: CapsLock + y
  deShortcut: 'yakuake: toggle-window-state'

- key: CapsLock + q
  deShortcut: 'kwin: Window Close'
- key: CapsLock + w
  deShortcut: 'kwin: Window Maximize'
- key: CapsLock + Alt + w
  deShortcut: 'kwin: Window Maximize Vertical'
- key: CapsLock + Shift + w
  deShortcut: 'kwin: Window Maximize Horizontal'
- key: CapsLock + e
  deShortcut: 'kwin: Window Minimize'

- key: CapsLock + g
  deShortcut: 'kwin: Switch to Next Desktop'
- key: CapsLock + r
  deShortcut: 'kwin: Window to Next Screen'
- key: CapsLock + v
  deShortcut: 'kwin: Window to Next Desktop'

- key: CapsLock + 7
  deShortcut: 'kmix: mute'

- key: CapsLock + 6
  deShortcut: 'kmix: mic_mute'

# Walk Through Windows
# Walk Through Windows of Current Application

  #- key: k
#  mod:
#    - CapsLock
#  cmd: xdotool key --clearmodifiers 111
#
#- key: l
#  mod:
#    - CapsLock
#  cmd: xdotool key --clearmodifiers 116
#
#- key: Apostrophe
#  mod:
#    - CapsLock
#  cmd: xdotool key --clearmodifiers 114

  #- key: CapsLock
  #  mod:
  #    - Alt_R
  #  cmd: xdotool key --clearmodifiers 119

#- key: Alt + CapsLock
#  deShortcut: 'kwin: Walk Through Windows'
#  #cmd: qdbus org.kde.kglobalaccel /component/kwin invokeShortcut 'Walk Through Windows'

#- key: Alt_L + Shift_L
#  cmd: qdbus org.kde.kglobalaccel /component/kwin invokeShortcut 'Walk Through Windows of Current Application'


#  /*
#  #### Arrows
#  key <AC07> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Left, KP_Left ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Left, KP_Left ]
#  };
#  key <AC08> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Up, KP_Up ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Up, KP_Up ]
#  };
#  key <AC09> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Down, KP_Down ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Down, KP_Down ]
#  };
#  key <AC10> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Right, KP_Right ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Right, KP_Right ]
#  };
#
#  #### Page
#  # h
#  key <AC06> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Prior, KP_Prior ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Prior, KP_Prior ]
#  };
#  # n
#  key <AB06> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Next, KP_Next ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Next, KP_Next ]
#  };
#
#  ### Home, end
#  # u
#  key <AD07> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Home, KP_Home ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Home, KP_Home ]
#  };
#  # i
#  key <AD08> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_End, KP_End ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_End, KP_End ]
#  };
#  */
