de: kdePlasmaX

bindings:
- key: CapsLock + a
  cmd: konsole

- key: CapsLock + Space
  combination: Shift + Minus
  #cmd: xdotool key --clearmodifiers shift+20

######## Languages
- key: Alt_L
  release: true
  cmd: xkb-switch -s us

- key: Alt_R
  release: true
  cmd: xkb-switch -s ru

######## Backspace, delete, enter
- key: CapsLock
  release: true
  combination: Backspace
- key: Alt + CapsLock
  release: true
  combination: Ctrl + Backspace

- key: Shift + CapsLock
  release: true
  combination: Delete
- key: Alt + Shift + CapsLock
  release: true
  combination: Ctrl + Delete

- key: CapsLock + Shift_R
  release: true
  combination: Enter

######## ARROWS
- key: CapsLock + j
  #release: true
  actions:
    - action: combination
      clearCaps: true
      combination: Up
  #cmd: xdotool key --clearmodifiers 111
  #cmd: bash -e "sleep 1; xdotool key --clearmodifiers 83"

#- key: k
#  mod:
#    - CapsLock
#  cmd: xdotool key --clearmodifiers 111
#
#- key: l
#  mod:
#    - CapsLock
#  cmd: xdotool key --clearmodifiers 116
#
#- key: Apostrophe
#  mod:
#    - CapsLock
#  cmd: xdotool key --clearmodifiers 114

  #- key: CapsLock
  #  mod:
  #    - Alt_R
  #  cmd: xdotool key --clearmodifiers 119

#- key: Alt + CapsLock
#  deShortcut: 'kwin: Walk Through Windows'
#  #cmd: qdbus org.kde.kglobalaccel /component/kwin invokeShortcut 'Walk Through Windows'

#- key: Alt_L + Shift_L
#  cmd: qdbus org.kde.kglobalaccel /component/kwin invokeShortcut 'Walk Through Windows of Current Application'


#  /*
#  #### Arrows
#  key <AC07> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Left, KP_Left ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Left, KP_Left ]
#  };
#  key <AC08> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Up, KP_Up ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Up, KP_Up ]
#  };
#  key <AC09> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Down, KP_Down ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Down, KP_Down ]
#  };
#  key <AC10> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Right, KP_Right ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Right, KP_Right ]
#  };
#
#  #### Page
#  # h
#  key <AC06> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Prior, KP_Prior ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Prior, KP_Prior ]
#  };
#  # n
#  key <AB06> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Next, KP_Next ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Next, KP_Next ]
#  };
#
#  ### Home, end
#  # u
#  key <AD07> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_Home, KP_Home ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_Home, KP_Home ]
#  };
#  # i
#  key <AD08> {
#  symbols[group1] = [ NoSymbol, NoSymbol, KP_End, KP_End ],
#  symbols[group2] = [ NoSymbol, NoSymbol, KP_End, KP_End ]
#  };
#  */
