de: kdePlasmaX

bindings:
######## Languages
- key: Alt_L
  release: true
  cmd: xkb-switch -s us

- key: Alt_R
  release: true
  cmd: xkb-switch -s ru

######## Backspace, delete, enter, escape
- key: CapsLock
  release: true
  combination: Backspace
- key: Alt_R + CapsLock
  release: true
  combination: Ctrl + Backspace

- key: Shift_L
  release: true
  combination: Delete
- key: Alt_R + Shift_L
  release: true
  combination: Ctrl + Delete

- key: Shift_R
  release: true
  combination: Enter

- key: Ctrl_R
  release: true
  cmd: 'xdotool key Escape'

########### Macroses
# Make new line and move cursor to it
- key: Shift_L + Shift_R
  release: true
  actions:
    - action: combination
      combination: End
    - action: combination
      combination: Enter
# Make new line and return back
- key: Alt_L + Shift_R
  release: true
  cmd: 'xdotool keyup 64; xdotool key --clearmodifiers 36 Ctrl+113; xdotool keydown 64'
#  actions:
#    - action: combination
#      combination: Enter
#    - action: combination
#      combination: Ctrl + Left

# Remove content of the line
- key: Ctrl_R + CapsLock
  release: true
  actions:
    - action: combination
      combination: End
    - action: combination
      combination: Shift + Home
    - action: combination
      combination: Backspace

# Remove whole line
- key: Ctrl_R + Shift_L
  release: true
  actions:
    - action: combination
      combination: End
    - action: combination
      combination: Shift + Home
    - action: combination
      combination: Backspace
    - action: combination
      combination: Delete
# Remove content of line with cutting to the buffer
- key: Ctrl_R + Alt_L + CapsLock
  release: true
  actions:
    - action: combination
      combination: End
    - action: combination
      combination: Shift + Home
    - action: combination
      combination: Ctrl + x
# Remove line with cutting to the buffer
- key: Ctrl_R + Alt_L + Shift_L
  release: true
  actions:
    - action: combination
      combination: End
    - action: combination
      combination: Shift + Home
    - action: combination
      combination: Ctrl + x
    - action: combination
      combination: Delete
# Duplicate the selection at new line
- key: Alt_R + Alt_L
  release: true
  actions:
    - action: combination
      combination: Ctrl + c
    - action: combination
      combination: Left
    - action: combination
      combination: Enter
    - action: combination
      combination: Up
    - action: combination
      combination: Ctrl + v
# SELECTION BY WHOLE LINE
- key: Alt_R + j
  actions:
    - action: combination
      combination: End
    - action: combination
      combination: Shift + Home
- key: Alt_R + k
  actions:
    - action: combination
      combination: End
    - action: combination
      combination: Shift + Up
    - action: combination
      combination: Shift + Home
- key: Alt_R + l
  actions:
    - action: combination
      combination: Home
    - action: combination
      combination: Shift + Down
    - action: combination
      combination: Shift + End
- key: Alt_R + Semicolon
  actions:
    - action: combination
      combination: Home
    - action: combination
      combination: Shift + End


######## ARROWS
- key: Alt_L + j
  #combination: Left
  cmd: 'xdotool keyup 64; xdotool key --clearmodifiers 113; xdotool keydown 64'
- key: Alt_L + k
  #combination: Up
  cmd: 'xdotool keyup 64; xdotool key --clearmodifiers 111; xdotool keydown 64'
- key: Alt_L + l
  #combination: Down
  cmd: 'xdotool keyup 64; xdotool key --clearmodifiers 116; xdotool keydown 64'
- key: Alt_L + Semicolon
  #combination: Right
  cmd: 'xdotool keyup 64; xdotool key --clearmodifiers 114; xdotool keydown 64'
######## FORCED ARROWS
- key: Alt_L + Shift + j
  #combination: Ctrl + Left
  cmd: 'xdotool keyup 64; xdotool key --clearmodifiers Ctrl+113; xdotool keydown 64'
- key: Alt_L + Shift + k
  cmd: 'xdotool keyup 64; xdotool key --delay 2 --clearmodifiers 111 111 111; xdotool keydown 64'
- key: Alt_L + Shift + l
  cmd: 'xdotool keyup 64; xdotool key --delay 2 --clearmodifiers 116 116 116; xdotool keydown 64'
#cmd: 'xdotool keyup 66; xdotool key --clearmodifiers 116 116 116; xdotool keydown 66'
- key: Alt_L + Shift + Semicolon
  #combination: Ctrl + Right
  cmd: 'xdotool keyup 64; xdotool key --clearmodifiers Ctrl+114; xdotool keydown 64'

######## HOME, END
- key: Alt_L + u
  #combination: Home
  cmd: 'xdotool keyup 64; xdotool key --clearmodifiers 110; xdotool keydown 64'
- key: Alt_L + i
  #combination: End
  cmd: 'xdotool keyup 64; xdotool key --clearmodifiers 115; xdotool keydown 64'
######## FORCED HOME, END (start and end of page)
- key: Alt_L + Shift + u
  #combination: Ctrl + Home
  cmd: 'xdotool keyup 64; xdotool key --clearmodifiers Ctrl+110; xdotool keydown 64'
- key: Alt_L + Shift + i
  #combination: Ctrl + End
  cmd: 'xdotool keyup 64; xdotool key --clearmodifiers Ctrl+115; xdotool keydown 64'

######### MOVE SCREEN by 7 LINES
- key: Alt_L + h
  cmd: 'xdotool keyup 64; xdotool click --clearmodifiers 4; xdotool keydown 64'
- key: Alt_L + n
  cmd: 'xdotool keyup 64; xdotool click --clearmodifiers 5; xdotool keydown 64'

######## PAGE UP, PAGE DOWN
- key: Alt_L + Shift + h
  #combination: PgUp
  cmd: 'xdotool keyup 64; xdotool key --clearmodifiers 112; xdotool keydown 64'
- key: Alt_L + Shift + n
  #combination: PgDown
  cmd: 'xdotool keyup 64; xdotool key --clearmodifiers 117; xdotool keydown 64'

######### SELECT
- key: Super_L + j
  cmd: 'xdotool keyup 133; xdotool key Shift+113; xdotool keydown 133'
  #combination: Shift + Left
#  actions:
#    - action: combination
#      combination: Shift + Left
- key: Super_L + k
  cmd: 'xdotool keyup 133; xdotool key Shift+111; xdotool keydown 133'
  #combination: Shift +QQ Up
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Up
- key: Super_L + l
  cmd: 'xdotool keyup 133; xdotool key Shift+116; xdotool keydown 133'
  #combination: Shift + Down
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Down
- key: Super_L + Semicolon
  cmd: 'xdotool keyup 133; xdotool key Shift+114; xdotool keydown 133'
  #combination: Shift + Right
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Right
######### FORCED SELECT
- key: Super_L + Shift_L + j
  cmd: 'xdotool keyup 133; xdotool key Ctrl+Shift+113; xdotool keydown 133'
  #combinadtion: Shift + Ctrl + Left
  #actions:
  #  - action: combination
  #    clearCaps: true
  #    combination: Shift + Ctrl + Left
- key: Super_L + Shift_L + k
  cmd: 'xdotool keyup 133; xdotool key Shift+111 Shift+111 Shift+111; xdotool keydown 133'
- key: Super_L + Shift_L + l
  cmd: 'xdotool keyup 133; xdotool key Shift+116 Shift+116 Shift+116; xdotool keydown 133'
- key: Super_L + Shift_L + Semicolon
  cmd: 'xdotool keyup 133; xdotool key Ctrl+Shift+114; xdotool keydown 133'
  #combination: Shift + Ctrl + Right
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Ctrl + Right
######### SELECT HOME, END
- key: Super_L + u
  cmd: 'xdotool keyup 133; xdotool key Shift+110; xdotool keydown 133'
  #combination: Shift + Home
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Home
- key: Super_L + i
  cmd: 'xdotool keyup 133; xdotool key Shift+115; xdotool keydown 133'
  #combination: Shift + End
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + End
######### FORCED SELECT HOME, END (to start/end of whole page)
- key: Super_L + Shift_L + u
  cmd: 'xdotool keyup 133; xdotool key Ctrl+Shift+110; xdotool keydown 133'
#  #combination: Shift + Ctrl + Home
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Ctrl + Home
- key: Super_L + Shift_L + i
  cmd: 'xdotool keyup 133; xdotool key Ctrl+Shift+115; xdotool keydown 133'
#  #combination: Shift + Ctrl + End
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + Ctrl + End
######### SELECT PAGE UP, PAGE DOWN
- key: Super_L + h
  cmd: 'xdotool keyup 133; xdotool key Shift+112; xdotool keydown 133'
  #combination: Shift + PgUp
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + PgUp
- key: Super_L + n
  #combination: Shift + PgDown
  cmd: 'xdotool keyup 133; xdotool key Shift+117; xdotool keydown 133'
#  actions:
#    - action: combination
#      clearCaps: true
#      combination: Shift + PgDown

## TODO: doesn't work in firefox
#- key: Alt + Slash
#  cmd: "xdotool type $'\u003F'"
#  ### this is !
#  #cmd: xdotool type --clearmodifiers $'\u0021'
#
#- key: CapsLock + Slash
#  cmd: "xdotool keyup 66; xdotool type --clearmodifiers $'\u0021'; xdotool keydown 66"
#
#- key: CapsLock + ,
#  cmd: 'xdotool keyup 66; xdotool type --clearmodifiers "<"; xdotool keydown 66'
#- key: CapsLock + .
#  cmd: 'xdotool keyup 66; xdotool type --clearmodifiers ">"; xdotool keydown 66'
#- key: Alt_L + ,
#  cmd: xdotool type --clearmodifiers "("
#- key: Alt_L + .
#  cmd: xdotool type --clearmodifiers ")"

######### DE
## konsole
#- key: CapsLock + t
#  cmd: konsole
## yakuake
#- key: CapsLock + y
#  deShortcut: 'yakuake: toggle-window-state'
#
#- key: CapsLock + q
#  deShortcut: 'kwin: Window Close'
#- key: CapsLock + w
#  deShortcut: 'kwin: Window Maximize'
#- key: CapsLock + Alt + w
#  deShortcut: 'kwin: Window Maximize Vertical'
#- key: CapsLock + Shift + w
#  deShortcut: 'kwin: Window Maximize Horizontal'
#- key: CapsLock + e
#  deShortcut: 'kwin: Window Minimize'
#
#- key: CapsLock + g
#  deShortcut: 'kwin: Switch to Next Desktop'
#- key: CapsLock + r
#  deShortcut: 'kwin: Window to Next Screen'
#- key: CapsLock + v
#  deShortcut: 'kwin: Window to Next Desktop'
#
#- key: CapsLock + 7
#  deShortcut: 'kmix: mute'
#
#- key: CapsLock + 6
#  deShortcut: 'kmix: mic_mute'

# Walk Through Windows
# Walk Through Windows of Current Application

  #- key: k
#  mod:
#    - CapsLock
#  cmd: xdotool key --clearmodifiers 111
#
#- key: l
#  mod:
#    - CapsLock
#  cmd: xdotool key --clearmodifiers 116
#
#- key: Apostrophe
#  mod:
#    - CapsLock
#  cmd: xdotool key --clearmodifiers 114

  #- key: CapsLock
  #  mod:
  #    - Alt_R
  #  cmd: xdotool key --clearmodifiers 119

#- key: Alt + CapsLock
#  deShortcut: 'kwin: Walk Through Windows'
#  #cmd: qdbus org.kde.kglobalaccel /component/kwin invokeShortcut 'Walk Through Windows'

#- key: Alt_L + Shift_L
#  cmd: qdbus org.kde.kglobalaccel /component/kwin invokeShortcut 'Walk Through Windows of Current Application'
